<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <h1>投稿を編集する</h1>

    <%= render "musics/form", music: @music %>
    <%= link_to "Show", @music, class: "music_#{@music.id}" %>
    <%= link_to "Back", musics_path, class: "back" %>
  </div>
</div>
