<div class="row">
  <div class="col-xs-3">
    <h2>User info</h2>
    <%= render 'users/profile' %>

    <h2>New music</h2>
    <%= render 'musics/form' %>
  </div>

  <div class="col-xs-9" id="music_list">
    <h2>Musics index</h2>
    <%= render 'musics/list', musics: @musics %>
  </div>
</div>
